@charset "utf-8";

/*------------------------------------*\
	#Layout
\*------------------------------------*/

html {
	font-size: 100%;
}
body {
	background: #fff;
}

/*------------------------------------*\
	#Styles
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	margin-top: .5rem;
	margin-bottom: 1rem;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
}
h1, .h1 {
	font-size: 2.25rem;
}
h2, .h2 {
	font-size: 2rem;
}
h3, .h3 {
	font-size: 1.75rem;
}
h4, .h4 {
	font-size: 1.5rem;
}
h5, .h5 {
	font-size: 1.25rem;
}
h6, .h6 {
	font-size: 1rem;
}
hr {
	display: block;
}
figure {
	margin: 0;
}
textarea {
	resize: vertical;
}
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}


/*------------------------------------*\
	#Headings
\*------------------------------------*/

/*------------------------------------*\
	#Widgets
\*------------------------------------*/

.site-sidebar .search-form {
	padding: 1.25rem;
	border-radius: 3px;
	background: #ededed;
}
.site-sidebar .widget_search .search-field,
.site-sidebar .widget_search .search-submit {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;
	box-sizing: border-box;
}
.site-sidebar .widget_search .search-field {
	background: #fff;
}

/*------------------------------------*\
	#Helper Classes
\*------------------------------------*/

.clear {
	clear: both;
	display: block;
}
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.media-left {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
.media-right {
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
	.media-left,
	.alignleft,
	.media-right,
	.alignright {
		float: none;
		display: block;
		margin-top: 10px;
		margin-right: 0;
		margin-bottom: 10px;
		margin-left: 0;
	}
}

.media-center {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignnone {
	float: none;
	text-align: none;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.align-center {
	text-align: center;
}
.lower-case {
	text-transform: lowercase;
}
.upper-case {
	text-transform: uppercase;
}
.title-case {
	text-transform: capitalize;
}
.media-fluid {
	width: 100%;
	display: block;
}
.media-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}
.media-container iframe,
.media-container object,
.media-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.hidden {
	display: none !important;
	visibility: hidden;
}

/*------------------------------------*\
	#Buttons
\*------------------------------------*/

.btn {
	line-height: 1;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	display: inline-block;
	vertical-align: middle;
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	padding: .4em 1em .4em;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
}
.btn,
.btn:visited {
	color: #222;
}
.btn:hover {
	color: #000;
	border-color: #ccc #bbb #aaa;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}
.btn:active {
	border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}
.btn-block {
	display: block;
}
.btn-small {
	padding: .2em 1em .2em;
}
.btn-large {
	padding: .8em 1em .8em;
}

/*------------------------------------*\
	#List
\*------------------------------------*/

.list {
	margin: 0;
	padding: 0;
}
.list li {
	list-style: none;
}
.list-inline li {
	float: left;
	display: inline;
}
.list-bullet li {
	padding: 4px 0;
	display: list-item;
}
.list-padding li {
	padding: 4px 0;
}
.list-bordered li {
	border-bottom: solid 1px #ededed;
}
.list-clearfix {
	overflow: hidden;
}

/*------------------------------------*\
	#Forms
\*------------------------------------*/

input[type="search"] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
}

/*------------------------------------*\
	#Misc Classes
\*------------------------------------*/

/*------------------------------------*\
	#Underscores
\*------------------------------------*/

.entry-meta,
.entry-footer {
	font-size: .875rem;
	color: #666;
}
.entry-meta a,
.entry-footer a {
	color: inherit;
}
.entry-footer a {
	display: inline-block;
	margin-right: 5px;
}
.posts-navigation a,
.post-navigation a {
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	padding: .5rem;
	display: inline-block;
	background: #ededed;
}
.posts-navigation .nav-previous a:before,
.post-navigation .nav-previous a:before,
.posts-navigation .nav-next a:after,
.post-navigation .nav-next a:after {
	display: inline-block;
	margin-left: 3px;
	margin-right: 3px;
}
.posts-navigation .nav-previous a:before,
.post-navigation .nav-previous a:before {
	content: '←';
	padding-right: 3px;
	border-right: solid 1px #fff;
}
.posts-navigation .nav-next a:after,
.post-navigation .nav-next a:after {
	content: '→';
	padding-left: 3px;
	border-left: solid 1px #fff;
}

@media screen and ( max-width: 520px ) {
	.posts-navigation a,
	.post-navigation a {
		display: block;
	}
}

/*------------------------------------*\
	#Print
\*------------------------------------*/

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a,
	a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}
	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
	tr,
	img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}
	h2,
	h3 {
		page-break-after: avoid;
	}
}
